<footer class="footer">
  <div class="container">
      <div class="row">
          <div class="footer-col">
              <img src="./img/image.png" alt="">
              <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aut maiores excepturi delectus culpa eum. Saepe optio aut dicta</h5>
          </div>
          <div class="footer-col">
              <h4>Pages</h4>
              <ul>
                  <li><a href="#">Home</a></li>
                  <li><a href="#">About</a></li>
                  <li><a href="#">Contact</a></li>
                  <li><a href="#">Shop</a></li>
              </ul>
          </div>
          <div class="footer-col">
              <h4>Subscribe</h4>
              <form action="">
                  <h5>Get Updates on mail.</h5>
                  <input type="text" placeholder="Enter Your Mail"><br>
                  <button type="submit">send</button>
              </form>
          </div>
          <div class="footer-col">
              <h4>follow us</h4>
              <div class="social-links">
                  <a href="#"><i class="fab fa-facebook-f"></i></a>
                  <a href="#"><i class="fa-solid fa-envelope"></i></a>
                  <a href="#"><i class="fa-brands fa-tiktok"></i></a>
                  <a href="#"><i class="fab fa-linkedin-in"></i></a>
              </div>
          </div>
          
      </div>
      <div class="copyright">
          <p>
              Copyright &copy; 2023 Active Group 
              | Designed by <a rel="sponsored" href="https://activegroup.com.eg" target="_blank">ACTIVE GROUP</a>
          </p>
      </div>    
  </div>
  
</footer>
