*{
    margin: 0;
    padding: 0;
}
.slideShow{
    width: 100%;
    text-align: center;
    position: relative;
    height: 580px;
    /* margin-top: -10px; */
   }

    #left{
        position: absolute;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 13px;
        cursor: pointer;
        top: 49%;
        background-color:rgba(0, 0, 0, 0.2);
    }
    #right{
        position: absolute;
        background-color: transparent;
        color: white;
        border: none;
        border-radius: 20px;
        padding: 13px;
        cursor: pointer;
        right: 1%;
        top: 49%;
        background-color:rgba(0, 0, 0, 0.3);

    }
    .slideShow img{
        display: none;
        width: 100%;
        height: 100%;
    }
    .slideShow .active{
        display: inline-block;
    }

.about{
    text-align: center;
    position:relative;
    width:100%;
    height:auto;
    margin-top:100px;
    background-color: rgb(240, 238, 238);
    padding-top: 40px;
}

.about hr{
    background-color:rgb(32, 104, 53);
    height:5px;
    width:10%;
    position:absolute;
    left: 45%;
    top:105px;
}

.about .cards-section{
    width:100%;
    display:flex;
    flex-wrap: wrap;
    margin-left: 5%;
    margin-top: 50px;
    position:relative;
}

.about .cards-section .card{
    width:38%;
    height:250px;
    background-color: rgb(43, 42, 42);
    margin:40px;
    border-radius: 15px;
    position:relative;
}

.about .cards-section .card h1{
    color: rgb(135, 71, 71);
    position: absolute;
    right:3px;font-size:60px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
}

.about .cards-section .card h2{
    color:rgb(231, 231, 231);
    position: absolute;
    top:30%;
    left:10%;
}

.about .cards-section .card p{
    position: absolute;
    left: 10%;
    top:50%;
    width:80%;
    color:rgb(165, 165, 165)
}









.home-menu{
    width: 100%;
    margin-top: 60px;
}
.home-menu a{
    font-size: 33px;
    font-weight: 300;
    text-decoration: none;
    color: rgb(40, 39, 39);
}
.home-menu h1{
    display: inline-block;
    font-size: 28px;
    font-weight: 300;
}
.home-menu hr{
    width:43%;
    display: inline-block;
    margin-bottom: 9px;
}
.home-menu a:hover{
    text-decoration: underline;
}


.home-cards{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 100px;
}

.home-cards .card{
    width: 23%;
    height: auto;
    display: block;
    margin-right: 10px;
    margin-left: 10px;

}
.home-cards .card:hover{
    box-shadow: .5px 10px 10px 2px rgb(243, 243, 243),
    .5px -10px 10px 2px rgb(243, 243, 243),
    -.5px 10px 10px 2px rgb(207, 206, 206);
}
.home-cards .card .sm-img{
    display:none;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.home-cards .card .sm-img img{
    width:30%;
}
.home-cards .card .sm-img > img{
    margin-right: 10px;
}
.home-cards .card .img{
    width: 70%;
    margin-top: 50px;

}
.home-cards .card #sm-img2{
    display:none;
    width: 100%;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 40px;
}
.home-cards .card .img img{
    width: 100%;
    margin-left: 50px;
}
.home-cards .card .sm-img img:hover{
    border: 1px solid green;
}
.home-cards .card #sm-img2 :hover{
    border: 1px solid green;
}
.home-cards .card hr{
    width: 80%;
}
.home-cards .card .description{
    margin-left: 50px;
    margin-top:10px;
    margin-bottom: 150px;
    height:50px;
}

.home-cards .card .description h2{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 5px;
}
.home-cards .card .description p{
    margin-top: 5px;
    margin-bottom: 5px;
}




.home-img{
    display: flex;
    align-self: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 10px;
    height: 800px;
}

.home-img .column{
    width: 55%;
    height: 80%;
    margin-right: 5px;
    position: relative;
    display: block;
    align-items: center;
    justify-content: center;
    cursor: pointer;

} 
.home-img .column img{
    width: 100%;
    height: 100%;
}

.home-img .column a{
    display:none;
}
.home-img .column a button{
    padding: 30px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(32, 104, 53);
    color:white;
    position :absolute;
    left:35%;
    top: 45%;
    cursor: pointer;
}
.home-img .row {
    width: 35%;
    display: block;
    position: relative;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.home-img .row .one a{
    display:none;
}

.home-img .row .one a button{
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(32, 104, 53);
    color:white;
    position :absolute;
    left:35%;
    top: 16%;
    cursor: pointer;
}
.home-img .row .two a{
    display:none;
}

.home-img .row .two a button{
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(32, 104, 53);
    color:white;
    position :absolute;
    left:35%;
    top: 56%;
    cursor: pointer;
}

.home-img .row .three a{
    display:none;
}

.home-img .row .three a button{
    padding: 15px;
    font-size: 30px;
    border-radius: 10px;
    background-color: rgb(32, 104, 53);
    color:white;
    position :absolute;
    left:28%;
    top: 74%;
    cursor: pointer;
}
.home-img .row div{
    height: 45.5%;
    width: 100%;
}
.home-img .row div img{
    height: 87%;
    width: 100%;
}
.home-img .row .two{
    margin-top: -41px;
}
.home-img .row .three{
    display: none;
}



@media(max-width: 767px){
    .home-cards{
        display: flex;
        flex-wrap: wrap;
    }
    .home-cards .card{
        width: 50%;
        height: 500px;
        margin-top: 25px;

    }
}
@media(max-width: 574px){
    .home-cards .card{
        width: 100%;
        height: 500px;

    }
}

@media (min-width:200px)and (max-width:300px) {
    .home-menu ul li{
        margin : 0
    }
    .home-menu ul .middle{
        margin-right: 30px;
        margin-left: 30px;
    }
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }
    .home-img{
        display: block;
        width: 100%;
        height: 800px;
        margin-bottom: 300px;
    }
    .home-img .column{
        display: none;
    }
    .home-img .row{
        display: block;
        width: 100%;
        height: 100%;
    }
    .home-img .row .one{
        width: 100%;
        height: 33.3%;
        margin-bottom: 20px;
    }
    .home-img .row .two{
        width: 100%;
        height: 33.3%;
    }
    .home-img .row .three{
        display: block;
        width: 100%;
        height: 33.3%;
        margin-top: -20px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:80%;
        margin-left:20px;
    }
    .about .cards-section .card h2{
        left:18%
    }
    .home-img .row .one a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 5%;
        cursor: pointer;
    }
    .home-img .row .two a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:10%;
        top: 42%;
        cursor: pointer;
    }
    .home-img .row .one a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 17%;
        cursor: pointer;
    }

}
@media (min-width:300px) and (max-width:385px) {
    .home-menu{
        width: 100%;
    }
    .home-menu a{
        font-size: 33px;
        font-weight: 300;
        text-decoration: none;
        color: rgb(40, 39, 39);
    }
    .home-menu h1{
        display: inline-block;
        font-size: 28px;
        font-weight: 300;
    }
    .home-menu hr{
        width:22.5%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-menu a:hover{
        text-decoration: underline;
    }
    
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }
    .home-img{
        display: block;
        width: 100%;
        height: 800px;
        margin-bottom: 100px;
    }
    .home-img .column{
        display: none;
    }
    .home-img .row{
        display: block;
        width: 100%;
        height: 100%;
    }
    .home-img .row .one{
        width: 100%;
        height: 33.3%;
        margin-bottom: 20px;
    }
    .home-img .row .two{
        width: 100%;
        height: 33.3%;
    }
    .home-img .row .three{
        display: block;
        width: 100%;
        height: 33.3%;
        margin-top: -20px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:80%;
        margin-left:20px;
        
    }
    .about .cards-section .card h2{
        left:10%
    }
    .home-img .row .one a button{
        top:11.5%;
        left:30%
    }
    .home-img .row .two a button{
        top:41.5%;
        left:30%
    }
    
}

@media (min-width:385px) and (max-width:425px) {
    .home-menu{
        width: 100%;
    }
    .home-menu a{
        font-size: 33px;
        font-weight: 300;
        text-decoration: none;
        color: rgb(40, 39, 39);
    }
    .home-menu h1{
        display: inline-block;
        font-size: 28px;
        font-weight: 300;
    }
    .home-menu hr{
        width:23%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-menu a:hover{
        text-decoration: underline;
    }
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }
    .home-img{
        display: block;
        width: 100%;
        height: 800px;
        margin-bottom: 100px;
    }
    .home-img .column{
        display: none;
    }
    .home-img .row{
        display: block;
        width: 100%;
        height: 100%;
    }
    .home-img .row .one{
        width: 100%;
        height: 33.3%;
        margin-bottom: 20px;
    }
    .home-img .row .two{
        width: 100%;
        height: 33.3%;
    }
    .home-img .row .three{
        display: block;
        width: 100%;
        height: 33.3%;
        margin-top: -20px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:80%;
        margin-left:20px;

    }
    .about .cards-section .card h2{
        left:15%
    }

    .home-img .row .one a button{
        top:11.5%;
        left:30%
    }
    .home-img .row .two a button{
        top:41.5%;
        left:30%
    }
    
}
@media (min-width:425px) and (max-width:600px) {
    .home-menu{
        width: 100%;
    }
    .home-menu a{
        font-size: 33px;
        font-weight: 300;
        text-decoration: none;
        color: rgb(40, 39, 39);
    }
    .home-menu h1{
        display: inline-block;
        font-size: 28px;
        font-weight: 300;
    }
    .home-menu hr{
        width:26%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-menu a:hover{
        text-decoration: underline;
    }
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }
    .home-img{
        display: block;
        width: 100%;
        height: 800px;
        margin-bottom: 100px;
    }
    .home-img .column{
        display: none;
    }
    .home-img .row{
        display: block;
        width: 100%;
        height: 100%;
    }
    .home-img .row .one{
        width: 100%;
        height: 33.3%;
        margin-bottom: 20px;
    }
    .home-img .row .two{
        width: 100%;
        height: 33.3%;
    }
    .home-img .row .three{
        display: block;
        width: 100%;
        height: 33.3%;
        margin-top: -20px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:80%;
        margin-left:20px;

    }
    .home-menu hr{
        width:31%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-img .row .one a button{
        top:11.5%;
        left:30%
    }
    .home-img .row .two a button{
        top:41.5%;
        left:30%
    }
    
}
@media (min-width:600px) and (max-width:810px) {
    .home-menu ul li{
        margin-right: 30px;
        margin-left: 30px;
        
    }
    .home-menu ul .middle{
        margin-right: 90px;
        margin-left: 90px;
    }
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }.about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:40%;
        margin:10px;

    }
    .home-menu hr{
        width:37%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-img .column a button{
        padding: 30px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:27%;
        top: 45%;
        cursor: pointer;
    }
    .home-img .row .one a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 17%;
        cursor: pointer;
    }
    .home-img .row .two a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 57%;
        cursor: pointer;
    }
}


@media(min-width:810px) and  (max-width:910px) {
    .home-menu ul li{
        margin-right: 30px;
        margin-left: 30px;
        
    }
    .home-menu ul .middle{
        margin-right: 90px;
        margin-left: 90px;
    }
    .identity{
        width: 100%;
    }
    .identity .header{
        width: 100%;
    }
    .identity .body{
        display: block;
    }
    .identity .body .img{
        display: none;    
    }
    .identity .body .details{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .identity .body .details ul li{
        font-size: 15px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:43%;
        margin-left: 10px;
    }
    .home-menu hr{
        width:37%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-img .column a button{
        padding: 30px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:27%;
        top: 45%;
        cursor: pointer;
    }
    .home-img .row .one a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 17%;
        cursor: pointer;
    }
    .home-img .row .two a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:17%;
        top: 57%;
        cursor: pointer;
    }
}

@media(min-width:910px) and  (max-width:950px) {
    .home-menu ul .middle{
        margin-right: 70px;
        margin-left: 70px;
    }
    .identity .body{
        position: relative;
    }
    .identity .body .img{
        position: relative;
    }
    .identity .body .img img{
        width: 250px;
    }
    .identity .body .img .fac1{
        position: absolute;
        top:5px;
        left: 10px;
    }
    .identity .body .img .fac2{
        position: absolute;
        top:225px;
        left:100px;
    }
    .identity .body .img .fac3{
        position: absolute;
        top:45px;
        left:150px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:43%;
        margin-left: 10px;
    }
    .home-menu hr{
        width:39%;
        display: inline-block;
        margin-bottom: 9px;
    }
    .home-img .column a button{
        padding: 30px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:27%;
        top: 45%;
        cursor: pointer;
    }
    .home-img .row .one a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:25%;
        top: 17%;
        cursor: pointer;
    }
    .home-img .row .two a button{
        padding: 20px;
        font-size: 30px;
        border-radius: 10px;
        background-color: rgb(32, 104, 53);
        color:white;
        position :absolute;
        left:25%;
        top: 57%;
        cursor: pointer;
    }
}


@media(min-width:950px) and  (max-width:1150px) {
    .products{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 300px;
        margin-top: 50px;
    
    }
    
    .products .categories{
        width:25%;
        position: relative;
        left:7%;
    }
    .products .categories .code i{
        position: relative;
        left: 34.5%;
        cursor: pointer;    
    }
    .products .cards{
        position: relative;
        left: 2%;
        width: 75%;
        display: block;
    }
    .products .cards .card-header h1{
        position: relative;
        left: 6%;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        
    }
    .products .card{
        position: relative;
        width: 40%;
        height: 450px;
        border: none;
        border-radius: 6px;
        box-shadow: 10px 20px 30px gray;
        margin-bottom: 35px;
        text-align: center;
    }
    .products .card button{
        position: absolute;
        bottom: 10px;
        left: 21%;
        width: 110px;
        height: 30px;
        padding: 5px;
        background-color: #e91e63;
        border: none;
        border-radius: 7px;
        color: white;
        font-size: 16px;
        font-weight: 300;
    }
    .identity .body{
        position: relative;
    }
    .identity .body .img{
        position: relative;
    }
    .identity .body .img img{
        width: 250px;
    }
    .identity .body .img .fac1{
        position: absolute;
        top:5px;
        left: 10px;
    }
    .identity .body .img .fac2{
        position: absolute;
        top:225px;
        left:100px;
    }
    .identity .body .img .fac3{
        position: absolute;
        top:45px;
        left:250px;
    }
    .about{
        width:100%;
    }
    .about .cards-section{
        width:100%;
    }
    .about .cards-section .card{
        width:43%;
        margin-left: 10px;
    }
    .home-menu hr{
        width:40%;
        display: inline-block;
        margin-bottom: 9px;
    }
}


@media(min-width:1150px) and  (max-width:1300px) {
    .products{
        position: relative;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        margin-bottom: 300px;
        margin-top: 50px;
    
    }
    .products .categories{
        width:25%;
        position: relative;
        left:7%;
    }
    .products .categories .code i{
        position: relative;
        left: 34.5%;
        cursor: pointer;    
    }
    .products .cards{
        position: relative;
        left: 2%;
        width: 75%;
        display: block;
    }
    .products .cards .card-header h1{
        position: relative;
        left: 6%;
        font-family: 'Roboto', sans-serif;
        font-size: 30px;
        font-weight: 300;
        margin-bottom: 10px;
        
    }
    .products .card{
        position: relative;
        width: 25.5%;
        height: 450px;
        border: none;
        border-radius: 6px;
        box-shadow: 10px 20px 30px gray;
        margin-bottom: 35px;
        text-align: center;
    }
    .products .card button{
        position: absolute;
        bottom: 10px;
        left: 25.5%;
        width: 110px;
        height: 30px;
        padding: 5px;
        background-color: #e91e63;
        border: none;
        border-radius: 7px;
        color: white;
        font-size: 16px;
        font-weight: 300;
    }
    .identity .body{
        position: relative;
    }
    .identity .body .img{
        position: relative;
    }
    .identity .body .img img{
        width: 330px;
    }
    .identity .body .img .fac1{
        position: absolute;
        top:5px;
        left: 10px;
    }
    .identity .body .img .fac2{
        position: absolute;
        top:225px;
        left:140px;
    }
    .identity .body .img .fac3{
        position: absolute;
        top:45px;
        left:285px;
    }
    .home-menu hr{
        width:42%;
        display: inline-block;
        margin-bottom: 9px;
    }
}

