<!-- head tags start -->
<%- include('../includes/head.ejs')%>
<link rel="stylesheet" href="./css/index.css">

</head>
<body>
    <%- include('../includes/navigation.ejs')%>
    
<div class="slideShow">
    <!-- <button onclick="stopSlide()">stop</button>
    <button onclick="startSlide()">slide show</button><br> -->
    <i class="fa-solid fa-arrow-left" id="left" onclick="slideLeft()"  ></i>
    <img src="/img/header.webp" class="slide active" data-aos="fade-left">
    <img src="/img/header2.webp" class="slide" data-aos="fade-left">
    <img src="/img/header3.avif" class="slide" data-aos="fade-left">
    <img src="/img/header4.webp" class="slide" data-aos="fade-left">
    <img src="/img/header5.jpg" class="slide" data-aos="fade-left">
    <img src="/img/header6.webp" class="slide" data-aos="fade-left">
    <i class="fa-solid fa-arrow-right" id="right" style="margin-left: 10px;" onclick="slideRight()" id="right"></i>
</div>
    


<div class="about">
    <h1>Why Choose Us?</h1>
    <hr>
    <div class="cards-section">
        <div class="card" data-image="/img/identity.jpeg" data-aos="fade-right">
            <h1>01</h1>
            <h2>Who Are We?</h2>
            <p>We are a group of Egyptian investors who are willing to be one of the best start-ups in the Middle East</p>
        </div>
        <div class="card" data-image="/img/factory2.webp" data-aos="fade-right">
            <h1>02</h1>
            <h2>What is our product?</h2>
            <p>Our product is one of the best products in the Egyptian market</p>
        </div>
        <div class="card" data-image="/img/location.jpg" data-aos="fade-right">
            <h1>03</h1>
            <h2>Where Are We?</h2>
            <p>Our main factory is in Port Said, one of the leading cities in the Egyptian industrial market</p>
        </div>
        <div class="card" data-image="/img/goal.webp" data-aos="fade-right">
            <h1>04</h1>
            <h2>What is our Goal?</h2>
            <p>Our short-term goal is to be one of the leading companies in the Egyptian market</p>
        </div>
    </div>
</div>

<script>
    const cardsSection = document.querySelector('.cards-section');

    cardsSection.addEventListener('mouseover', function(event) {
        const card = event.target.closest('.card');
        if (card) {
            const image = card.getAttribute('data-image');
            showBg(card, image);
        }
    });

    cardsSection.addEventListener('mouseout', function(event) {
        const card = event.target.closest('.card');
        if (card) {
            hideBg(card);
        }
    });

    function showBg(card, image) {
        card.style.backgroundImage = `linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('${image}')`;
        card.style.backgroundPosition = "center";
        card.style.backgroundSize = "cover";
        card.querySelector('p').style.color = 'white';
    }

    function hideBg(card) {
        card.style.backgroundImage = 'none';
        card.querySelector('p').style.color = 'rgb(165, 165, 165)';
    }
</script>




<div class="home-menu">
    <hr>
    <a href="/products">Shop now</a><h1>>></h1>
    <hr>
</div>



<div class="home-cards">
    <div class="card" data-aos="fade-right" onmousemove="showImg()" onmouseleave="hideImg()" >
        <div class="img">
            <img src="/img/store/product1.jpg" alt="" id="img">
        </div>
        <div class="sm-img" id="sm-img" style="display:none;width: 100%;text-align: center; margin-top: 50px;margin-bottom: 40px;" >
            <img src="/img/store/colore1.webp" alt="" style="width:30%;margin-right: 10px;"  onmousemove="changeImg(this)">
            <img src="/img/store/yellow1.webp" alt="" style="width:30%" onmousemove="changeImg(this)">            
        </div>
        <div class="description" style="margin-left: 50px;margin-top:10px;margin-bottom: 150px;height:50px">
            <hr class="hr">
            <p class="section">men's</p>
            <h2 class="name">original crocs</h2>
            <p class="colors">3 colors</p>
            <h4 class="price">300$</h4>
        </div>
    </div>
    
<script>
    var img=document.getElementById('img');
    var imgSrc=img.src
    var smImg=document.getElementById('sm-img');
    const changeImg =(i)=>{
        img.src=i.src
    }
    const showImg =()=>{
        smImg.style.display='block';
    }
    const hideImg=()=>{
        smImg.style.display='none';
        img.src=imgSrc;
    }
</script>

    <div class="card" data-aos="fade-right" onmousemove="show2()" onmouseleave="hide2()">
        <div class="img">
            <img src="/img/store/product1.jpg" alt="" id="img2">
        </div>
        <div id="sm-img2" style="width: 100%;text-align: center; margin-top: 50px;margin-bottom: 40px;" >
            <img src="/img/store/colore1.webp" alt="" style="width:30%;margin-right: 10px;" onmousemove="changeImg2(this)">
            <img src="/img/store/yellow1.webp" alt="" style="width:30%" onmousemove="changeImg2(this)">            
        </div>
        <div class="description">
            <p class="section">men's</p>
            <hr class="hr">
            <h2 class="name">original crocs</h2>
            <p class="colors">3 colors</p>
            <h4 class="price">300$</h4>
        </div>
    </div>
    <script>
        smImg2 = document.getElementById('sm-img2');
        img2 = document.getElementById('img2');
        imgSrc2 = img2.src;
        const changeImg2=(e)=>{
            img2.src = e.src;
        }
        const show2 = ()=>{
            smImg2.style.display='block'
        }
        const hide2=()=>{
        smImg2.style.display='none';
        img2.src = imgSrc2
        }
        
        
    </script>


    <div class="card" data-aos="fade-right" onmousemove="show3()" onmouseleave="hide3()">
        <div class="img">
            <img src="/img/store/product1.jpg" alt="" id="img3">
        </div>
        <div class="sm-img" id="sm-img3" style="display:none;width: 100%;text-align: center; margin-top: 50px;margin-bottom: 40px;" >
            <img src="/img/store/colore1.webp" alt="" style="width:30%;margin-right: 10px;"  onmousemove="changeImg3(this)">
            <img src="/img/store/yellow1.webp" alt="" style="width:30%" onmousemove="changeImg3(this)">            
        </div>
        <div class="description">
            <p class="section">men's</p>
            <hr class="hr">
            <h2 class="name">original crocs</h2>
            <p class="colors">3 colors</p>
            <h4 class="price">300$</h4>
        </div>
    </div>
    <script>
        smImg3 = document.getElementById('sm-img3');
        img3 = document.getElementById('img3');
        imgSrc3 = img3.src;
        const changeImg3=(e)=>{
            img3.src = e.src;
        }
        const show3 = ()=>{
            smImg3.style.display='block'
        }
        const hide3=()=>{
        smImg3.style.display='none';
        img3.src = imgSrc3
        }
        
        
    </script>





    <div class="card" data-aos="fade-right" onmousemove="show4()" onmouseleave="hide4()">
        <div class="img">
            <img src="/img/store/product1.jpg" alt="" id="img4">
        </div>
        <div class="sm-img" id="sm-img4" style="display:none;width: 100%;text-align: center; margin-top: 50px;margin-bottom: 40px;" >
            <img src="/img/store/colore1.webp" alt="" style="width:30%;margin-right: 10px;"  onmousemove="changeImg4(this)">
            <img src="/img/store/yellow1.webp" alt="" style="width:30%" onmousemove="changeImg4(this)">            
        </div>
        <div class="description">
            <p class="section">men's</p>
            <hr class="hr">
            <h2 class="name">original crocs</h2>
            <p class="colors">3 colors</p>
            <h4 class="price">300$</h4>
        </div>
    </div>
</div>
<script>
    smImg4 = document.getElementById('sm-img4');
    img4 = document.getElementById('img4');
    imgSrc4 = img4.src;
    const changeImg4=(e)=>{
        img4.src = e.src;
    }
    const show4 = ()=>{
        smImg4.style.display='block'
    }
    const hide4=()=>{
    smImg4.style.display='none';
    img4.src = imgSrc4
    }
    
    
</script>


<div class="home-img">
    <div class="column" id="column" onmousemove="showFour()" onmouseleave="hideFour()">
        <img id="columnImg" src="./img/crocs2.jpeg" alt="" data-aos="fade-right">
        <a href="/products" id="buttonFour"><button>Shop Now</button></a>
    </div>
    <div class="row">
        <div class="one" id="one" onmousemove="showOne()" onmouseleave="hideOne()">
            <img id="rowImg1" src="./img/crocs.jpeg" alt="" data-aos="fade-left">
            <a href="/products" id="buttonOne"><button>Shop Now</button></a>
        </div>
        <div class="two" id="two" onmousemove="showTwo()" onmouseleave="hideTwo()">
            <img id="rowImg2" src="./img/crocs3.jpg" alt="" data-aos="fade-up">
            <a href="/products" id="buttonTwo"><button>Shop Now</button></a>
        </div>
        <div class="three" id="three" onmousemove="showThree()" onmouseleave="hideThree()">
            <img id="rowImg3" src="./img/crocs4.webp" alt=""data-aos="fade-left">
            <a href="/products" id="buttonThree"><button>Shop Now</button></a>
        </div>
    </div>
</div>

<script>
    buttonFour = document.getElementById('buttonFour');
    column = document.getElementById('column');
    columnImg = document.getElementById('columnImg');
    const showFour=()=>{
        buttonFour.style.display='block';
        columnImg.style.display = 'none';
        column.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/crocs2.jpeg")';
        column.style.backgroundPosition = "bottom center";
        column.style.backgroundSize = "cover";
    }
    const hideFour=()=>{
        buttonFour.style.display='none';
        columnImg.style.display = 'block';
        
    }

    buttonOne = document.getElementById('buttonOne');
    one = document.getElementById('one');
    rowImg1 = document.getElementById('rowImg1');
    const showOne=()=>{
        buttonOne.style.display='block';
        rowImg1.style.display = 'none';
        one.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/crocs.jpeg")';
        column.style.backgroundPosition = "center bottom";
        column.style.backgroundSize = "cover";
    }
    const hideOne=()=>{
        buttonOne.style.display='none';
        rowImg1.style.display = 'block';
        
    }


    buttonTwo = document.getElementById('buttonTwo');
    two = document.getElementById('two');
    rowImg2 = document.getElementById('rowImg2');
    const showTwo=()=>{
        buttonTwo.style.display='block';
        rowImg2.style.display = 'none';
        two.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/crocs3.jpg")';
        two.style.backgroundPosition = "center";
        two.style.backgroundSize = "cover";
    }
    const hideTwo=()=>{
        buttonTwo.style.display='none';
        rowImg2.style.display = 'block';
        two.style.backgroundImage='none'
    }


    
    buttonThree = document.getElementById('buttonThree');
    three = document.getElementById('three');
    rowImg3 = document.getElementById('rowImg3');
    const showThree=()=>{
        buttonThree.style.display='block';
        rowImg3.style.display = 'none';
        three.style.backgroundImage = 'linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("./img/crocs3.jpg")';
        three.style.backgroundPosition = "center";
        three.style.backgroundSize = "cover";
    }
    const hideThree=()=>{
        buttonThree.style.display='none';
        rowImg3.style.display = 'block';
        three.style.backgroundImage='none'
    }
</script>

    
<script src="https://unpkg.com/aos@next/dist/aos.js"></script>
<script>
  AOS.init();
</script>


<script>
    window.addEventListener('scroll', function() {
      var header = document.getElementById("header");
      var sticky = header.offsetTop;
    
      if (window.pageYOffset >= sticky) {
        header.classList.add("sticky");
      } else {
        header.classList.remove("sticky");
      }
    });
    </script>

    <script>
    var intervalId;
    const left = document.getElementById('left');
    const right = document.getElementById('right');
    const slides = document.querySelectorAll('.slide');
    // console.log(slides);
    var counter = 0;
    function slideRight(){
    slides[counter].classList.remove('active');
    counter++;
    if (counter >= slides.length) {
        counter = 0;
    }
    slides[counter].classList.add('active');
    }
    const slideLeft=()=>{
    slides[counter].classList.remove('active');
    counter--;
    if (counter < 0) {
        counter = slides.length -1;
    }
    slides[counter].classList.add('active');
}
intervalId = setInterval(slideRight, 3000); // Store the interval ID
  
// const startSlide = () => {
//     intervalId = setInterval(slideRight, 2000); // Store the interval ID
//   }
// const stopSlide = () => {
//     clearInterval(intervalId); // Clear the interval using the stored ID
// }
    </script>


    <%- include('../includes/footer.ejs')%>
</body>
</html>